@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Monomaniac+One&display=swap');

*{
    font-family: 'Monomaniac One';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
    background-color: #F0F3D9;
}

/* BARRA DE NAV */

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 50px; 
}

.barra-nav {
    width: 600px;
    height: 75px;
    background-color: #E2DAC0;
    border-radius: 20px 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-sair {
    width: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    color: #9C6249;
    text-align: center;
    padding: 1.2rem 2rem;
    text-decoration: none;
    font-family: "Jersey 10", sans-serif;
    font-size: 2.5em;
}

li a:hover {
    color: #DAEABC;
}

/* MAIN */

main {
    width: 100%;
}

.conteudo-central {
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: #F0F3D9;
    width: 65%;
    max-width: 1050px;
    height: 65vh;
    border-radius: 20px 20px;
    border: 7px solid #9C6249; 
}

.conteudo-central h1{
    font-family: 'Jersey 10';
    font-size: 4em;
    letter-spacing: 3px;
    text-align: center;
}

.conteudo-central p{
    font-size: 1.5em;
}

/* CONTEUDO ESQUERDA */

.conteudo-central-esquerda{
    width: 60%;
    padding: 40px;
    color: #F0F3D9;
    background-color: #9C6249;
    border-radius: 0px 20px 20px 0px;
}

/* CONTEUDO DIREITA */

.conteudo-central-direita{
    background-color: #F0F3D9;
    width: 40%;
    border-radius: 20px;
}

.conteudo-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.conteudo-direita img {
    max-width: 9em; 
    height: auto;
    margin-bottom: 2em;
}

.conteudo-direita p {
    font-size: 4rem;
    font-family: "Monomaniac One", sans-serif;
    letter-spacing: 0.5rem;
    line-height: 3.5rem;
    color: #9C6249;
}

.quebrar-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER */

footer{
    background-color: #9C6249;
    text-align: center;
    font-size: 1.2em;
    color: #F0F3D9;
}