@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Monomaniac+One&display=swap');

*{
    font-family: 'Monomaniac One';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(156, 98, 73);
    overflow-x: hidden;
}

.barra-lateral{
    width: 30%;
    height: 100vh;
    background-color: rgb(240 217 196);
    padding: 50px;
    color: rgb(156 98 73);
    z-index: 1;
}

.barra-lateral h2{
    text-align: center;
    font-size: 2.3em;
    text-decoration: underline;
}

.barra-lateral h3{
    font-size: 1.3em;
    color: #728057;
    font-weight: 900;
}

.barra-lateral p{
    font-size: 1.2em;
    color: #704024;
}

header{
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.barra-nav {
    background-color: #E2DAC0;
    width: 300px;
}

.imagem-sair {
    width: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    color: #9C6249;
    text-align: center;
    padding: 1.2rem 2rem;
    text-decoration: none;
    font-family: "Jersey 10", sans-serif;
    font-size: 2.5em;
}

li a:hover {
    color: #cf815f;
}

main {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.slider {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 500px;
    transition: transform 0.5s ease-in-out;
}

.prev, .next{
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 2;
}

.cafe {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.texto-cafe{
    color: rgb(209 188 163);
    text-align: center;
}

.texto-cafe h2{
    font-size: 40px;
    font-family: 'Jersey 10';
    letter-spacing: 7px;
}

.texto-cafe p{
    font-size: 25px;
}

.imagem-cafe img{
    max-width: 360px;
}