@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    background: rgb(218,234,188);
    background: linear-gradient(180deg, rgba(218,234,188,1) 0%, rgba(156,98,73,1) 98%);
    height: 100vh;
    font-family: 'Jersey 10';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-sair{
    width: 100px;
    position: absolute;
    left: 0pt;
    top: 0pt;
    padding: 20px;
}

h1{
    top: 30px;
    color:rgba(240, 243, 217, 1);
    padding: 4px 60px;
    font-size: 4em;
    z-index: 1;    
    box-shadow: 0px 6px 7px #9c62495c;
    position: relative;
    background-color: rgba(169, 187, 136, 1);
    border-radius: 10px;
    letter-spacing: 4px;
}

.campo-input, .cpf_cnpj{
    width: 65%;
}

input{
    background-color: rgba(156, 98, 73, 0.17);
    font-family: 'Jersey 10';
    border: none;
    border-radius: 9px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-indent: 20px;
    font-size: 1.9em;
    color: #9C6249;
}

input[type="radio"]:focus, input[type='checkbox']:focus{
    border: 0;
}

input:focus{
    border: 3px solid #9C6249;
    outline: none; /* Optional: Removes the default browser outline */
}

label{
    color:rgba(156, 98, 73, 1);
    font-size: 1.8em;
    padding-left: 10px;
}

input::placeholder, input[type="date"]::placeholder{
    color: rgba(156, 98, 73, 0.6);
}

input[type="date"]{
    display: block;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

button{
    background-color: rgba(156, 98, 73, 1);
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: 'Jersey 10';
    color: rgba(240, 243, 217, 1);
    font-size: 1.75rem;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 5px #8d2a00;
}

.login_form{
    background-color: rgba(240, 243, 217, 1);
    width: 90%;
    padding: 90px 60px 50px 50px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 13px;
    align-items: center;
}

.cadastro_form{
    background-color: rgba(240, 243, 217, 1);
    width: 90%;
    padding: 90px 60px 50px 50px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 13px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

input[type='checkbox'] {
    appearance: none;
    height: 1.2em;
    position: relative;
    width: 1.2em;
}

input[type='checkbox']::after, input[type='checkbox']::before {
    box-sizing: border-box;
    position: absolute;
}
      
input[type='checkbox']::after {
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    content: '';
    height: 75%;
    left: 50%;
    top: 50%;
    transform: scale(0.1) translate(-50%, -50%);
    transition: transform 0.2s;
    width: 40%;
}
      
input[type='checkbox']::before {
    border: 3px solid rgba(156, 98, 73, 1);
    border-radius: 0.25em;
    content: '';
    height: 100%;
    transition: background-color 0.2s;
    width: 100%;
}

input[type='checkbox']:checked::after {
    transform: rotate(35deg) scale(1) translate(-100%, -30%);
}
      
input[type='checkbox']:checked::before {
    background-color: rgba(169, 187, 136, 1);
}

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.termotermo{
    font-size: 1.1em;
}

input[type='radio'] {
    appearance: none;
    height: 1.2em;
    position: relative;
    width: 1.2em;
    border-radius: 50%;
}

input[type='radio']::after, input[type='radio']::before {
    box-sizing: border-box;
    position: absolute;
}
      
input[type='radio']::after {
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    height: 75%;
    left: 50%;
    top: 50%;
    transform: scale(0.1) translate(-50%, -50%);
    transition: transform 0.2s;
    width: 40%;
}
      
input[type='radio']::before {
    border: 3px solid rgba(156, 98, 73, 1);
    border-radius: 2em;
    content: '';
    height: 100%;
    transition: background-color 0.2s;
    width: 100%;
}

input[type='radio']:checked::after {
    transform: rotate(35deg) scale(1) translate(-100%, -30%);
}
      
input[type='radio']:checked::before {
    background-color: rgba(169, 187, 136, 1);
}

.cpf_cnpj{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cpf_cnpj > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}


.cpf_cnpj > div > div{
    display: flex; 
    align-items: center;
}
