@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

body{
    height: 100vh;
    background-color: #F0F3D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav{
    background-color: #9C6249;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 30px 40px;
    border-radius: 10px;
}

nav > a{
    color: #F0F3D9;
    text-decoration: none;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
}