@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Monomaniac+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Lacquer&display=swap');

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }

@keyframes pulse-dois {
    0% { transform: rotate(2deg); 
        animation-timing-function: ease-in-out;
    }
    50% { transform: rotate(10deg); 
        animation-timing-function: ease-out;
    }
    100% { transform: rotate(2deg); 
        animation-timing-function: ease-in-out;
    }
  }

*{
    font-family: 'Monomaniac One';
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color: #F0D9C4;
    
}

header {
    border-bottom: 0px;
}
/* BARRA DE NAV */

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 50px; 
    
}

.barra-nav {
    width: 600px;
    height: 75px;
    background-color: #9C6249;
    border-radius: 20px 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.imagem-sair {
    width: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    color: #F0D9C4;
    text-align: center;
    padding: 1.2rem 2rem;
    text-decoration: none;
    font-family: "Jersey 10", sans-serif;
    font-size: 2.5em;
}

li a:hover {
    color: #ffd19d;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-sec {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    padding: 0px 90px 0px 100px;
    height: 86vh;
}

.first-sec .first-sec-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.first-sec .first-sec-txt h2 {
    padding-bottom: 20px;
    font-family: "Covered By Your Grace", cursive;
    text-align: center;
    font-size: 4rem;
    color: #704024;
    
}

.first-sec .first-sec-txt p {
    text-align: center;
    color: #9C6249;
    font-size: 1.5rem;
    padding: 35px;
    margin: 0px;
}

.first-sec-txt a {
    background-color: #728058;
    padding: 15px;
    margin-top: 35px;
    border-radius: 10px;
    color: #F0D9C4;
    text-decoration: none;
    cursor: pointer;
}
  
.first-sec-txt a:hover {
    animation: pulse 1s infinite;
    color: #F0D9C4;
  }

.circle img {
    width: 650px;
    transform: rotate(20deg);
}

.second-sec {
    width: 65%;
    background-color: #704024;
    height: 50vh;
    color: #F0D9C4;
    margin-bottom: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 50px 0px 50px;
    gap: 50px;
    position: relative;
}

.second-sec div{
    display: flex;
    align-items: center;

    width: 50%;
    height: 25vh;
}

.second-sec-txt1 {
    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

.second-sec-txt1 h1 {
    font-size: 1.9rem;
}

.second-sec-txt2 {
    font-size: 1.7rem;
    font-weight: 100;
}




.second-sec::after {
    content: "";
    background-image: url('../assets/Images/planta-cafe.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -90px;
    right: -390px;
    width: 580px;
    height: 580px;
    z-index: 2;
}

.second-sec:hover::after {
    animation: pulse-dois 1s 3;
}

.third-sec {
    width: 65%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-sec-txt {
    background-color: #F0F3D9;
    border-radius: 15px;
    width: 550px;
    height: 400px;

    color: #b16133;
    padding: 40px;
    font-size: 2rem;
    text-align: center;

    display: flex;
    align-items: center;
}

.third-sec-img img {
    width: 550px;
}

.fourth-sec {
    background-color: #704024;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fourth-sec-img img {
    width: 800px;
}

.fourth-sec-txt {
    color: #F0D9C4;
    font-size: 3rem;
    text-align: center;
    padding-right: 60px;
}

#menu {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F3D9;
    
}

.menu-sec-line {
    display: flex;
    align-items: center;

    width: 100%;
    height: 7vh;

    font-size: 1.5rem;
    color: #704024;


    
}

.menu-sec {
    border: 3px solid #728058;
    border-radius: 15px;
    width: 60%;
    height: 100vh;

    display: flex;
    justify-content: center;

}

.menu-sec h2 {
    font-family: "Covered By Your Grace", cursive;
    font-size: 5rem;
    color: #728058;

    padding-top: 25px;
}

footer {
    background-color: #704024;
    padding: 10px 0px 10px 0px;
    color: #F0F3D9;

    display: flex;
    justify-content: center;
}