@charset "utf-8";

/*@media screen and (max-width: 1260px) {
    .conteudo-central-esquerda{
        padding: 5px;
    }
}

@media screen and (max-width: 1080px) {
    .conteudo-central{
        flex-direction: column-reverse;
        align-items: center;
    }

    .conteudo-central-esquerda{
        width: 100%;
        padding: 10px;
        border-radius: 0;

    }

    .conteudo-central-esquerda p{
        font-size: 1.1em;
    }

    .conteudo-central-esquerda h1{
        font-size: 3em;
    }

    .conteudo-central-direita{
        height: 100%;
    }

    .conteudo-direita{
        flex-direction: row;
        gap: 20px;
    }
}

@media (min-width: 1400px) {

    .first-sec {
        width: 80%;
    }

}

@media (min-width: 600px){
    .first-sec {
        width: 100%;
        gap: 0px;
        padding: 0px 40px 0px 0px;
    }
    

    .first-sec .first-sec-txt h2 {
        font-size: 2.3rem;
        padding-bottom: 0px;
    }
    .first-sec .first-sec-txt p{
        padding: 10px 20px 10px 20px;
    }

    .second-sec-txt2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .second-sec::after{
        width: 450px;
    }
}


*/


  

